<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      [ngClass]="{hidden: !(isHandset$ | async)}"
      >
    <mat-toolbar id="small-toolbar">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" 
      routerLinkActive="secondary-active-link" 
      [routerLinkActiveOptions]="{ exact: true }" (click)="closeSidenav()">
        Home
      </a>
      <a mat-list-item routerLink="/skills" 
      routerLinkActive="secondary-active-link"(click)="closeSidenav()"
      >
        Skills
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <mat-toolbar color="primary" id="big-toolbar">
      <div>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <div class="name-and-icon" routerLink="/">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon">home</mat-icon>
          <span class="lobster-font">Marcos Salvo's Site</span>
        </div>
        <div [ngClass]="{hidden: (isHandset$ | async)}">
          <a mat-list-item routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
          <a mat-list-item routerLink="/skills" routerLinkActive="active-link">Skills</a>
        </div>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
